@import "./variables_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$colore-testo: #d5802b;
$colore-sfondo: #1a1626;
$colore-classe: #ff8000;


@font-face {
    font-family: "monotype-corsiva";
    src: url(../monotype-corsiva-maisfontes.7be8/monotype-corsiva.ttf)format("truetype");
}

body
{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: $colore-sfondo;
    color: $colore-testo;
}
header
{
    font-family: 'monotype-corsiva','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, .price
{
    color: rgba(245, 245, 245, 0.897);
}
h1
{
    text-decoration: underline;
    color: $colore-testo;
    font-size: 59px;
}
h2
{
    margin-top: -10px;
    font-size: 22px;
}
.gold
{
  font-size: 21px;
}
#pablito
{
    width: 100%;
    height: 180px;
    object-fit: fill;
    filter: brightness(0.9);
}
figcaption
{
    position: absolute;
    margin-top: -30px;
    right: 10%;
    font-size: 20px;
}
#titolo
{
    position: absolute;
    left: 10%;
    top: 5%;
}
h3
{
    font-weight: bold;
    background-color: $colore-testo;
    color: $colore-sfondo;
}
h4
{
    text-decoration: underline;
}
.caption
{
    margin-top: -15px;
    margin-bottom: 15px;
    opacity: 0.5;
}
.supplement
{
    opacity: 0.5;
    font-weight: bold;
}

@media screen and(min-width:700px) 
{
    .container
    {
        width: 700px;
    }
    #pablito
    {
        visibility: hidden;
    }
    #titolo
    {
        left: 30%;
        & h1
        {
            font-size: 120px;
        }
        & h2
        {
            font-size: 35px;
        }
    }
    figcaption
    {
        left: 55%;
        font-size: 26px; 
        margin-top: 1px;
    }
}
